/* .slds-combobox__input-entity-icon + .a + .slds-input-has-icon_left {
    padding-left: 2rem;
} */

/* .showiconleft + .slds-combobox__input-value {
    padding-left: 1rem;
}

.THIS .full-size {
    width:100%;
} */